*{
    margin: 0;
    padding: 0;
    color:#d9d9d9;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}
/*...........H E A D E R.............*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
} 
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: black;
}
.home{
    display: flex;
    background: url(hayaan.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

 /* menu btn styling */
.menu-brn{
    columns: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* about selection styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'padding', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 30px;
    font-family: 'ubuntu', sans-serif;
    color: black;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 300px;
    width: 300px;
    
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    color: black;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}






  
 /* responsive media querystert */
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-brn{
        display: block;
        z-index: 999;
    }
    .menu-brn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
}

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
    .about .about-content .right .text{
        font-size: 19px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 327px;
        width: 199px;
    }
    .about .about-content .right .text{
        font-size: 16px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .right .text{
        font-size: 12px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
            font-size: 60px;
    }
    .home .home-content .text-3{
            font-size: 32px;
    } 
    .home .home-content a{
        font-size: 20px;
        padding: 8px 20px;
    }
    .about .about-content .right .text{
        font-size: 10px;
    }
}
@media (max-width: 500px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
            font-size: 50px;
    }
    .home .home-content .text-3{
            font-size: 27px;
    } 
    .about .about-content .right .text{
        font-size:17px;
    }
    .left .content p {
      font-size:16px;
    }
     .main-content{
      display: block;
      padding-left: 35px;
}
    
}


/*...........f O O T E R.............*/

footer{
    bottom: 0px;
    width: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
margin: 2opx 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social span:hover{
    background: #f12020;

}
.copy{
    background: #343a40;
    counter-reset: #686868;
    height: 30px;
    text-align:center ;
}
.btn{
    color:black;
}



@media (max-width: 561px){
        .about .about-content .left img{
        height: 327px;
        width: 199px;
    }
}
@media (max-width: 500px)
.about .about-content .right .text {
    font-size: 17px !important;
}
/*...........f O O T E R.............*/
